<div class="table-wrapper">
  <div class="players-table-row">
    <% %w(Name Team Number Stats).each do |title| %>
    <div class="player-cell"><%= title %></div>
    <% end %>
  </div>

  <% @players.each do |player| %>
  <div class="players-table-row">
    <div class="player-cell"><%= link_to "#{player.name}", edit_player_path(player) %></div>
    <div class="player-cell"><%= player.teams.first.name %></div>
    <div class="player-cell"><%= player.team_players.first.number %></div>
    <div class="player-cell"><%= link_to "Season", player_path(player) %></div>
  </div>
<% end %>
</div>