<%= javascript_include_tag "game_statistics" %>

  <div id="visiting_team">
    Visiting Team
    <% PlayerGameStatistic.by_game_and_team(@player_game_statistic.game,
                                                    @player_game_statistic.game.visiting_team)\
       .each do |pg_stats| %>
      <%= link_to "#{pg_stats.player.first_name}\
      (#{pg_stats.player.number(@player_game_statistic.game.visiting_team)})",\
      edit_player_game_statistic_path(pg_stats) %>
    <% end %>
  </div>

  <div id="home_team">
    Home Team
    <% PlayerGameStatistic.by_game_and_team(@player_game_statistic.game,
                                                    @player_game_statistic.game.home_team)\
       .each do |pg_stats| %>
      <%= link_to "#{pg_stats.player.first_name}\
      (#{pg_stats.player.number(@player_game_statistic.game.home_team)})",\
      edit_player_game_statistic_path(pg_stats) %>
    <% end %>
  </div>

  <div id="game">
    <br>Game: <%= @player_game_statistic.game.description %>
    <br>Points:  <%= @player_game_statistic.game.visiting_team_points %> vs.
              <%= @player_game_statistic.game.home_team_points %>
  </div>

  <div id="player">
    <br>Player: <%= "#{@player_game_statistic.player.first_name} #{@player_game_statistic.player\
                    .last_name}" %>
    <br>Date: <%= @player_game_statistic.created_at %>
  </div>

  <%= form_for @player_game_statistic, :remote => true do |f| %>
  <% end %>

  <% left = %w(fgm tpm ftm orb ast s)  %>
  <% right = %w(fga tpa fta drb to pf)  %>
  <% pairs = left.zip(right) %>

  <div id="statistic" >
    <% pairs.each do |p| %>
      <ul class="display-pair">
        <li>
          <div id="<%= p.first %>_inc" class="clickable inc"><%= p.first %></div>
          <div id="<%= p.first %>_dec" class="clickable dec">-</div>
        </li>
        <li>
          <div id="<%= p.last %>_inc" class="clickable inc"><%= p.last %></div>
          <div id="<%= p.last %>_dec" class="clickable dec">-</div>
        </li>
        <li id="<%= "#{p.first}-#{p.last}" %>">
          <%= @player_game_statistic.send(p.first) %> / <%= @player_game_statistic.send(p.last) %>
        </li>
      </ul>
    <% end %>
  </div>
