
<html>
<%= stylesheet_link_tag "game_statistics" %>
<%= javascript_include_tag "jquery.min.js","rails.js","game_statistics.js" %>

  <div id="visiting_team">
    Visiting Team
    <% PlayerGameStatistic.game_statistics_for_team(@player_game_statistic.game,
                                                    @player_game_statistic.game.visiting_team)\
       .each do |pg_stats| %>
      <%= link_to pg_stats.player.first_name, edit_player_game_statistic_path(pg_stats) %>
    <% end %>
  </div>

  <div id="home_team">
    Home Team
    <% PlayerGameStatistic.game_statistics_for_team(@player_game_statistic.game,
                                                    @player_game_statistic.game.home_team)\
       .each do |pg_stats| %>
      <%= link_to pg_stats.player.first_name, edit_player_game_statistic_path(pg_stats) %>
    <% end %>
  </div>


  <div id="player">
    Game: <%= @player_game_statistic.description %>
    <br>Player: <%= "#{@player_game_statistic.player.first_name} #{@player_game_statistic.player\
                    .last_name}" %>
    <br>Date: <%= @player_game_statistic.created_at %>
  </div>

  <%= form_for @player_game_statistic, :remote => true do |f| %>
  <% end %>

  <% left = %w(fgm ftm tpm orb ast s)  %>
  <% right = %w(fga fta tpa drb to pf)  %>
  <% pairs = left.zip(right) %>

  <div id="statistic" >
    <% pairs.each do |p| %>
      <ul class="display-pair">
        <li id="<%= p.first %>" class="clickable"><%= p.first %></li>
        <li id="<%= p.last %>" class="clickable"><%= p.last %></li>
        <li id="<%= "#{p.first}-#{p.last}" %>">
          <%= @player_game_statistic.send(p.first) %> / <%= @player_game_statistic.send(p.last) %>
        </li>
      </ul>
    <% end %>
  </div>
</html>