<!DOCTYPE html>
<html>
<head>
  <title>StatTracker</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "game_statistics" %>  
  <%= javascript_include_tag "jquery.min.js", "application", "rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
